.splashscreen {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.logo {
  width: 200px;
  height: 200px;
}

.cupcake-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.frosting {
  width: 100px;
  height: 60px;
  background: pink;
  position: absolute;
  bottom: 20px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #fff, 0 0 0 20px pink;
}

.cherry {
  width: 20px;
  height: 20px;
  background: red;
  position: absolute;
  bottom: 60px;
  left: 40px;
  border-radius: 50%;
}

.cupcake-base {
  width: 80px;
  height: 20px;
  background: brown;
  position: absolute;
  bottom: 0;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.frosting,
.cherry {
  animation: bounce 1s infinite;
}
