.mainhead {
  color: black;
  font-size: 30px;
  font-weight: 300;
  padding: 15px 30px;
  margin-top: 10px;
}
.addresscontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.map-container {
  width: 97%;
  align-self: center;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  margin-right: 20px;
  border-radius: 5px;
  margin-top: 15px;
  border: 1px solid black;
  width: 40%;
}

.address-details {
  width: 100%;
  margin-right: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.useraddress {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addressin {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.addressin .address {
  height: auto;
  width: 100%; /* Adjusted width for responsiveness */
  margin: 10px;
  padding: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  display: flex;
  flex-direction: column; /* Changed to column for better responsiveness */
  position: relative;
  min-height: 100px;
}

.addressin .address .deletebtn {
  color: white;
  border: none;
  border-radius: 50%;
  padding: 8px;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 200px;
  top: 10px;
  cursor: pointer;
}

.actionbtns-group {
  height: auto;
  width: 100%; /* Adjusted width for responsiveness */
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column; /* Changed to column for better responsiveness */
  position: relative;
  min-height: 100px;
}

.actionbtns {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-self: center;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.locationButton {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.locationButtonText {
  color: rgb(80, 80, 80);
  font-size: 1.4rem;
  font-family: "Cairo", sans-serif;
  font-weight: 500;
}

.newaddress {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.newaddress .form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}

/* Additional styles for the larger More Info textarea */
.more-info-group textarea {
  padding: 8px;
  font-size: 16px;
  resize: vertical; /* Allows vertical resizing */
}

.newaddress .form .form-group {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 10px;
}
.form-location-button {
  display: flex;
  flex-direction: row;
  width: 45%;
  margin: 10px;
}
.newaddress .form .form-group label {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 5px;
}
.inputField::placeholder {
  color: lightgray; /* Placeholder text color */
  font-style: italic; /* Placeholder text style */
  font-size: 18px;
  padding-right: 10px;
}

/* For Internet Explorer */
.inputField:-ms-input-placeholder {
  color: lightgray; /* Placeholder text color */
  font-style: italic; /* Placeholder text style */
  font-size: 18px;
}
.newaddress .form .form-group input,
.newaddress .form .form-group textarea {
  padding: 10px 20px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  outline: none;
}

input:focus,
textarea:focus {
  border: 1px solid grey;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust margin as needed */
}
.mainButton {
  background: none;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem;
  cursor: pointer;

  color: black;
}

.mainButton:hover {
  background-color: grey;
  color: white;
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .addressin .address,
  .actionbtns-group {
    width: 100%; /* Adjusted width for smaller screens */
  }

  .newaddress .form-group {
    width: 100%; /* Make form input fields full width on smaller screens */
  }
}
