.homepage-container {
  position: relative;
  background-color: white;
}

.full-page-image img {
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full viewport width */
  object-fit: cover;
}

.about-us-paragraph {
  display: flex;
  text-align: center;
  line-height: 43px;
  font-family: "Cairo", sans-serif;
  width: 50%;
  margin: 200px auto 10px auto;
  font-size: 30px;
}
.our-bakery-title {
  margin: 200px auto 10px auto;
  text-align: center;
  font-family: "Cairo", sans-serif;
  font-size: 60px;
}

@media (max-width: 768px) {
  .homepage-container {
    padding: 20px;
  }

  .about-us-paragraph {
    width: 100%;
    font-size: 20px;
    margin: 50px auto;
  }

  .our-bakery-title {
    font-size: 40px;
    margin: 50px auto;
  }
}
