.alert {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336; /* Red background to draw attention */
  color: white;
  padding: 20px;
  z-index: 1000;
  width: 300px; /* Fixed width, but you can make it responsive */
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

.timerLine {
  height: 5px;
  background-color: #d3cfcf;
  width: 100%;
  animation: fillUp linear;
  border-radius: 0 0 5px 5px;
}

@keyframes fillUp {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
