.checkoutForm {
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.closeIcon {
  cursor: pointer;
  font-size: 24px;
}

.deliveryOptions,
.paymentMethods {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.map {
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 10%;
  margin-bottom: 10%;
}
.summary,
.total {
  text-align: center;
  margin-top: 20px;
}
